h4 {
  font-size: 1.5em;
  font-style: italic;
  text-transform: uppercase;
}
table {
  width: 100%;
  tr,
  th {
    background-color: #313235;
    padding: 1em;
    text-align: center;
  }
  thead {
    th {
      border-bottom: 1em solid #252629;
    }
  }

  tbody {
    & :hover {
      cursor: pointer;
      background-color: #2c2d30;
    }
    td {
      padding: 0.5em 1em;
    }

    .chapterTitle {
      color: #4a9eed;
      text-decoration: underline;
    }
  }
  .chapterNum {
    width: 5em;
  }

  .chapterTitle {
    width: 48em;
  }
}
