<div class="menu-container">
  <div class="menu-title">
    <h3>Working Title</h3>
  </div>
  <div class="menu-links">
    <a
      routerLink="/home-page"
      routerLinkActive="active"
      areaCurrentWhenActive="page"
      class="menu-item"
      >Home Page</a
    >

    <a
      routerLink="/register"
      routerLinkActive="active"
      areaCurrentWhenActive="page"
      class="menu-item"
      >Register</a
    >

    <a
      routerLink="/login"
      routerLinkActive="active"
      areaCurrentWhenActive="page"
      class="menu-item"
      >Login</a
    >

    <a
      routerLink="/chapters-list"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="menu-item"
      >Chapters</a
    >
  </div>
</div>
