.menu-container {
  max-width: 100%;
  height: 10rem;
  background-color: #191a1c;
  padding: 0% 10%;
  /* #ffb3a0 */
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .row-1 {
    display: flex;
    height: 40%;
    /* background-color: grey; */
    justify-content: end;
    align-items: end;

    .menu-profile {
      display: flex;
      flex-direction: row;
      margin: 0em 1em;
      a {
        display: flex;
        flex-direction: row;
        p {
          margin: 0em 0em 0em 0.5em;
        }
      }
    }
  }

  .row-2 {
    display: flex;
    height: 60%;
    justify-content: space-between;
    align-items: center;
  }

  .menu-row {
    display: flex;
    flex-direction: row;
    width: 100%;

    .menu-title {
      color: white;
      h3 {
        padding: 0em;
        margin: 0em;
        a {
          text-decoration: none;
        }
      }
    }

    .menu-links {
      display: flex;
      .menu-item {
        /* border: 1px solid grey; */
        border-radius: 5px;
        width: 6em;
        height: 1em;
        padding: 1em;
        text-align: center;
        margin-left: 1em;
        text-decoration: none;
        color: white;
        &:hover {
          background-color: #2e2e2e;
        }
      }
    }
  }
}
/* #3f4c30 */
