.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #191a1c;
}
.chapter-container {
  width: 80%;
}

img {
  width: 100%;
}

.page-container {
  margin-bottom: 2em;
}

.dropdown-front {
  z-index: 1;
}

#pageJumpBtn {
  position: relative;
  cursor: pointer;
  width: 10em;
  border: 2px solid #cccccc;

  &:hover {
    #pageJumpDropdown {
      display: block;
    }
  }
}

#pageJumpDropdown {
  display: none;
  position: absolute;
  width: 10em;
  background-color: #9c9c9cc4;
  border-radius: 5px;
  left: 0;
  border: 1px solid #cccccc;
}

ul {
  list-style: none;
  margin: 0px;
  display: flex;
  padding: 0px;
  flex-direction: column;
  a {
    text-decoration: none;
    color: #000000;
    height: 2em;
    display: block;
    padding: 0.5em 1em;
  }
}
