h4 {
  font-size: 1.5em;
  font-style: italic;
  text-transform: uppercase;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;

  input {
    background-color: #3b3b3b;
    border: 1px solid grey;
    border-radius: 2em;
    padding: 0em 1em;
    height: 2em;
  }

  #registerForm {
    width: 80%;

    .form-page {
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;

      .form-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 28em;

        .regform-input {
          margin: 1em 1em;
          width: 100%;
        }

        .name-input {
          width: 6em;
        }

        input:focus {
          background-color: #454545;
          outline: none;
        }
      }

      .form-section-L {
        width: 20em;
      }
    }

    .form-submit {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        font-size: 1.2em;
        padding: 0.3em 1em;
        border: 0px;
        border-radius: 5px;
        background-color: #46474a;
        width: 8em;
      }
      & :hover {
        background-color: #38393c;
      }
    }
  }
}
